<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SignInController</servlet-name>
        <servlet-class>Controller.SignInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>Controller.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecoveryCodeController</servlet-name>
        <servlet-class>Controller.RecoveryCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInAdminController</servlet-name>
        <servlet-class>Controller.SignInAdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInController</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecoveryCodeController</servlet-name>
        <url-pattern>/recovery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInAdminController</servlet-name>
        <url-pattern>/signinadmin</url-pattern>
    </servlet-mapping>
</web-app>
